@import "utils/variables";
@import "utils/fonts";
@import "utils/reset";
@import "components/navbar";
@import "components/button";
@import "components/card";
@import "utils/mixins/container";
@import "pages/songs";
@import "utils/mixins/default";

* {
  @include DefaultStyles();
}

body {
  @include container();
  background-color: $dark;
  color: $primary_textColor;
}

.header {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  @include center(false);
}
