li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $primary_textColor;
    transition: all 0.2s ease-in-out !important;

    &:hover {
        color: #999
    }
}

button {
    border: none;
    cursor: pointer;

    a {
        color: $dark;

        &:hover {
            color: darken($dark, 10%);
        }
    }
}


::-webkit-scrollbar {
    display: none;
}